<!DOCTYPE html>

<html>

<head>
    <title>Sobre</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">   
        {{>header}}
        <p>Esse site foi criado utilizando dados de mapbox.com e darksky.net!</p>
        <img class="portrait" src="/img/clima.png" alt="">
    </div>
    
    {{>footer}}
</body>


</html>