<!DOCTYPE html>

<html>

<head>
    <title>Ajuda</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">   
        {{>header}}
        {{helptext}}
    </div>    
    
    {{>footer}}
</body>


</html>